section.header {
    padding-block: 0.7rem;

    .container-fluid {
        .navbar-brand {
            font-weight: bold;
            color: $green;
        }

        button.navbar-toggler {
            padding-inline: 0.5rem;

            svg.navbar-toggler-icon {
                color: $green;
                width: 40px;
                height: 40px;
            }
            
            &:focus {
                box-shadow: none;
            }
        }

        #navbarSupportedContent  {
            background: $light-navy;
            width: 75%;

            .offcanvas-header {
                justify-content: flex-end;
                padding: 1.5rem;

                svg {
                    width: 45px;
                    height: 45px;
                    color: $green;
                    opacity: 1;

                    @media (min-width: 48em) {
                        padding-inline: 2rem;
                    }
                }
            }

            .offcanvas-body {
                .navbar-nav {
                    counter-reset: my-sec-counter;
                    
                    li.nav-item {
                        margin-top: 2rem;

                        a.nav-link {
                            color: $slate;
                            position: relative;
                            padding: 1.5rem;

                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
    
                            &::before {
                                position: absolute;
                                counter-increment: my-sec-counter;
                                content: "0"counter(my-sec-counter)".";

                                top: 0.2rem;
                                color: $green;
                                font-family: 'Courier New', Courier, monospace;
                            }

                            &:hover {
                                color: $green;
                            }
                        }   

                        // * resume button styles 
                        &:last-child {
                            border: 2px solid $green;
                            text-align: center;
                            width: 80%;
                            margin-inline: auto;

                            @media (min-width: 48em) {
                                width: 30%;
                            }

                            a {
                                padding: 1rem;
                                width: 100%;

                                &::before {
                                    display: none;
                                }

                                &:hover {
                                    background: $green-tint;
                                }
                            }
                        }
                    }

                }
            }
        }

        @media (min-width: 64em) {
            #navbarSupportedContent  {
                background: $navy;
                width: 100%;
                
                .offcanvas-body {
                    ul.navbar-nav {
                        width: 100%;
                        

                        li.nav-item {
                            margin-top: initial;
                            margin-inline: .2rem;

                            a.nav-link {
                                padding: 1rem;
                                padding-inline-start: 2.7rem;
        
                                &::before {
                                    left: 1rem;
                                    top: initial;
                                }
                            }   

                            &:last-child {
                                width: 15%;
                                margin-inline: initial;
                                margin-inline-start: 3rem;
    
                                a {
                                    padding: 1rem;
                                }
                            }
                        }
                    }
                }

            }

        }
    }
}